{% extends 'base.html' %}
{% load account %}
{% load static from staticfiles %}
<!DOCTYPE html>

{% block content %}

<section class='section'>
<div class="container">
      <article class="tile is-primary is-12 is-child notification">
        <p class="title has-text-centered">Tabla de Posiciones General PC!</p>

</div>
</section>
  <section>
      <div class="container">
          <table class="table is-fullwidth">
              <thead>
                <tr>
                  <th><abbr title="Posicion">Pos</abbr></th>
                  <th><abbr title="Usuario">Team</abbr></th>
                  <th><abbr title="Twitch">Players</abbr></th>
                  <th><abbr title="Twitch">Twitch</abbr></th>
                  <th><abbr title="Twitch">Twitch</abbr></th>
                  <th><abbr title="Twitch">K/M</abbr></th>
                  <th><abbr title="Puntaje">Puntage General</abbr></th>
                </tr>
              </thead>
              <tbody>

                {% for usuario in participantes %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <th>{{ usuario.equipo }}</th>
                    <td>{{ usuario.user }}, {{ usuario.user.first_name }}</td>
                    <td><a href="https://www.twitch.tv/{{ usuario.twitch_1 }}" target="_blank">{{ usuario.twitch_1 }}</a></td>
                    <td><a href="https://www.twitch.tv/{{ usuario.twitch_2 }}" target="_blank">{{ usuario.twitch_2 }}</a></td>
                    <td>{{ usuario.kd }}</td>
                    <td><strong>{{ usuario.general }}</strong></td>
                </tr>
                {% endfor %}

        </table>
      </div>
  </section>


{% endblock %}
