{% extends 'base.html' %}
{% load static from staticfiles %}
<!DOCTYPE html>

{% block content %}

<section class='section'>
    <div class="container">
          <article class="tile is-danger is-12 is-child notification">
            <p class="title has-text-centered">El torneo todavia no comenzo, o los resultados no han sido publicados todavia!</p>
            <p class="subtitle has-text-centered"></p>

                <p class="content has-text-centered">Una vez terminado el torneo, podras ver los resultados aqui!</p>

    </div>
<!-- </section>
<section>
    <div class="container">
        <table class="table is-fullwidth">
            <thead>
              <tr>
                  <th><abbr title="Posicion">Pos</abbr></th>
                  <th><abbr title="Usuario">Team</abbr></th>
                  <th><abbr title="Twitch">Players</abbr></th>
                  <th><abbr title="Twitch">Kills</abbr></th>
                  <th><abbr title="Twitch">Top 5</abbr></th>
                  <th><abbr title="Twitch">Wins</abbr></th>
                  <th><abbr title="Puntaje">Puntos</abbr></th>
              </tr>
            </thead>
            <tbody>

              {% for usuario in participantes %}
              <tr>
                  <th>{{ forloop.counter }}</th>
                  <th>{{ usuario.equipo }}</th>
                  <td>{{ usuario.user }}, {{ usuario.user.first_name }}</td>
                  <td>{{ usuario.kills_totales }}</td>
                  <td>{{ usuario.top5_1 }}</td>
                  <td>{{ usuario.wins_totales }}</td>
                  <td><strong>{{ usuario.puntos }}</strong></td>
              </tr>
              {% endfor %}

        </table>
    </div>
</section> -->




<section class='section'>
<div class="container">
      <article class="tile is-dark2 is-12 is-child notification">
        <p class="title has-text-centered">Resultados del torneo de prueba!</p>

</div>
</section>

<section class='section'>
    <div class="container">
        <table class="table is-fullwidth">
            <thead>
              <tr>
                  <th><abbr title="Posicion">Pos</abbr></th>
                  <th><abbr title="Usuario">Team</abbr></th>
                  <th><abbr title="Twitch">Players</abbr></th>
                  <th><abbr title="Twitch">Kills</abbr></th>
                  <th><abbr title="Twitch">Top 5</abbr></th>
                  <th><abbr title="Twitch">Wins</abbr></th>
                  <th><abbr title="Puntaje">Puntos</abbr></th>
              </tr>
            </thead>
            <tbody>


              <tr>
                  <th>1</th>
                  <th>TheFar´s</th>
                  <td>Leoofarias1, TwitchBnjamn</td>
                  <td>92</td>
                  <td>10</td>
                  <td>7</td>
                  <td><strong>237</strong></td>
              </tr>

              <tr>
                  <th>2</th>
                  <th>Enjoy420</th>
                  <td>Giangisti, lvsmarale1</td>
                  <td>86</td>
                  <td>11</td>
                  <td>6</td>
                  <td><strong>220</strong></td>
              </tr>

              <tr>
                  <th>3</th>
                  <th>AlPaCa</th>
                  <td>Franco_NOB, NDEAAAAHHHH</td>
                  <td>113</td>
                  <td>9</td>
                  <td>4</td>
                  <td><strong>209</strong></td>
              </tr>

              <tr>
                  <th>4</th>
                  <th>TDE</th>
                  <td>Elhector11, Dip ENP</td>
                  <td>123</td>
                  <td>6</td>
                  <td>3</td>
                  <td><strong>192</strong></td>
              </tr>

              <tr>
                  <th>5</th>
                  <th>Foursquad</th>
                  <td>Pepa141108, CA MoJaDo</td>
                  <td>138</td>
                  <td>3</td>
                  <td>2</td>
                  <td><strong>180</strong></td>
              </tr>

              <tr>
                  <th>6</th>
                  <th>Guardavidas</th>
                  <td>9ZValenEscudero, psn(agustincolombo9)</td>
                  <td>81</td>
                  <td>8</td>
                  <td>4</td>
                  <td><strong>173</strong></td>
              </tr>

              <tr>
                  <th>7</th>
                  <th>PSYLUETAS.INC</th>
                  <td>PSY_ACZINO_, Nahuezi</td>
                  <td>125</td>
                  <td>4</td>
                  <td>2</td>
                  <td><strong>171</strong></td>
              </tr>

              <tr>
                  <th>8</th>
                  <th>Lyc_team</th>
                  <td>tomiicata, Aquiles_boy3</td>
                  <td>128</td>
                  <td>3</td>
                  <td>2</td>
                  <td><strong>170</strong></td>
              </tr>

              <tr>
                  <th>9</th>
                  <th>Shärks</th>
                  <td>Shärks_Monmany, TOMITO654</td>
                  <td>74</td>
                  <td>8</td>
                  <td>4</td>
                  <td><strong>166</strong></td>
              </tr>

              <tr>
                  <th>10</th>
                  <th>Squad Enferma</th>
                  <td>Nacho_Skrr, Tomii06123</td>
                  <td>114</td>
                  <td>5</td>
                  <td>2</td>
                  <td><strong>164</strong></td>
              </tr>

              <tr>
                  <th>11</th>
                  <th>FaZo</th>
                  <td>ESTYrodriguez, Tomiporcelll</td>
                  <td>73</td>
                  <td>7</td>
                  <td>4</td>
                  <td><strong>161</strong></td>
              </tr>

              <tr>
                  <th>12</th>
                  <th>Gangaax</th>
                  <td>farcaso03, jerocaffe99</td>
                  <td>96</td>
                  <td>4</td>
                  <td>3</td>
                  <td><strong>157</strong></td>
              </tr>

              <tr>
                  <th>13</th>
                  <th>Team Simulator</th>
                  <td>TSS xManfel, TSS Dyfs</td>
                  <td>107</td>
                  <td>5</td>
                  <td>2</td>
                  <td><strong>157</strong></td>
              </tr>

              <tr>
                  <th>14</th>
                  <th>ISP Team</th>
                  <td>Toxic Mati, ISP_FORTEE</td>
                  <td>109</td>
                  <td>4</td>
                  <td>2</td>
                  <td><strong>155</strong></td>
              </tr>

              <tr>
                  <th>15</th>
                  <th>Fate Gaming</th>
                  <td>Mr_darkmay, DjPooker</td>
                  <td>90</td>
                  <td>4</td>
                  <td>3</td>
                  <td><strong>151</strong></td>
              </tr>

              <tr>
                  <th>16</th>
                  <th>0</th>
                  <td>Franco_CAS, psn(BrunooCrack10)</td>
                  <td>78</td>
                  <td>6</td>
                  <td>3</td>
                  <td><strong>147</strong></td>
              </tr>

              <tr>
                  <th>17</th>
                  <th>The Killac</th>
                  <td>RafaNadal81, psn(NieresLalo)</td>
                  <td>91</td>
                  <td>6</td>
                  <td>2</td>
                  <td><strong>145</strong></td>
              </tr>

              <tr>
                  <th>18</th>
                  <th>TBF</th>
                  <td>TBF-JuanmaBlayz, Tbf_ChanBeto</td>
                  <td>99</td>
                  <td>7</td>
                  <td>1</td>
                  <td><strong>142</strong></td>
              </tr>

              <tr>
                  <th>19</th>
                  <th>GA</th>
                  <td>GA NovaGold02, GA NexuZ</td>
                  <td>102</td>
                  <td>5</td>
                  <td>1</td>
                  <td><strong>137</strong></td>
              </tr>

              <tr>
                  <th>20</th>
                  <th>Titan</th>
                  <td>IACC2004, Decapitare_gremm</td>
                  <td>90</td>
                  <td>4</td>
                  <td>2</td>
                  <td><strong>136</strong></td>
              </tr>

              <tr>
                  <th>21</th>
                  <th>MATA CARAMELITOS</th>
                  <td>alebarrionuevo, Lamasson</td>
                  <td>57</td>
                  <td>8</td>
                  <td>3</td>
                  <td><strong>134</strong></td>
              </tr>

              <tr>
                  <th>22</th>
                  <th>MBTR</th>
                  <td>CAtomi2a, 9z ByrØbii11</td>
                  <td>83</td>
                  <td>8</td>
                  <td>1</td>
                  <td><strong>130</strong></td>
              </tr>

              <tr>
                  <th>23</th>
                  <th>Fire_Ez</th>
                  <td>Lucas_Ojo13, psn(Rodry_Ez)</td>
                  <td>121</td>
                  <td>2</td>
                  <td>0</td>
                  <td><strong>129</strong></td>
              </tr>

              <tr>
                  <th>24</th>
                  <th>TheOGs</th>
                  <td>matiasnunez97, Stryvnoia</td>
                  <td>82</td>
                  <td>3</td>
                  <td>2</td>
                  <td><strong>124</strong></td>
              </tr>

              <tr>
                  <th>25</th>
                  <th>CA-eshquere</th>
                  <td>CA-pichu05, Sebaavsc</td>
                  <td>89</td>
                  <td>4</td>
                  <td>1</td>
                  <td><strong>120</strong></td>
              </tr>

              <tr>
                  <th>26</th>
                  <th>FVM</th>
                  <td>FVM_Mateo3530, FVM W4rrior</td>
                  <td>72</td>
                  <td>4</td>
                  <td>2</td>
                  <td><strong>118</strong></td>
              </tr>

              <tr>
                  <th>27</th>
                  <th>Km30Vdm</th>
                  <td>Erictius, TB TONCHO</td>
                  <td>63</td>
                  <td>5</td>
                  <td>2</td>
                  <td><strong>113</strong></td>
              </tr>

              <tr>
                  <th>28</th>
                  <th>Blackpanther</th>
                  <td>Marinucci7, Braiitinto07</td>
                  <td>104</td>
                  <td>2</td>
                  <td>0</td>
                  <td><strong>112</strong></td>
              </tr>

              <tr>
                  <th>29</th>
                  <th>Lucalumbre MG</th>
                  <td>CLUB_-_BOCA_-_, Guido172</td>
                  <td>83</td>
                  <td>3</td>
                  <td>1</td>
                  <td><strong>110</strong></td>
              </tr>

              <tr>
                  <th>30</th>
                  <th>Exile</th>
                  <td>nazarenoAGUSTINn, nachgame11217</td>
                  <td>59</td>
                  <td>5</td>
                  <td>2</td>
                  <td><strong>109</strong></td>
              </tr>

              <tr>
                  <th>31</th>
                  <th>Heermanos</th>
                  <td>Killersuper12, ivvama2144</td>
                  <td>40</td>
                  <td>6</td>
                  <td>3</td>
                  <td><strong>109</strong></td>
              </tr>

              <tr>
                  <th>32</th>
                  <th>Los cojos</th>
                  <td>GianEdeLP11, portilloylaslena</td>
                  <td>31</td>
                  <td>8</td>
                  <td>3</td>
                  <td><strong>108</strong></td>
              </tr>

              <tr>
                  <th>33</th>
                  <th>MCH</th>
                  <td>MCH_J0S3PR1199, MCH_MALEKMASTER</td>
                  <td>43</td>
                  <td>6</td>
                  <td>2</td>
                  <td><strong>97</strong></td>
              </tr>

              <tr>
                  <th>34</th>
                  <th>mtz team</th>
                  <td>sopsters, estanislao</td>
                  <td>80</td>
                  <td>4</td>
                  <td>0</td>
                  <td><strong>96</strong></td>
              </tr>

              <tr>
                  <th>35</th>
                  <th>Wachocueva</th>
                  <td>Judio2017, Wachocriado039</td>
                  <td>44</td>
                  <td>3</td>
                  <td>2</td>
                  <td><strong>86</strong></td>
              </tr>

              <tr>
                  <th>36</th>
                  <th>shing y shang</th>
                  <td>ragolden, psn(patriciopato_pae)</td>
                  <td>57</td>
                  <td>2</td>
                  <td>1</td>
                  <td><strong>80</strong></td>
              </tr>

              <tr>
                  <th>37</th>
                  <th>TuviejaTeam</th>
                  <td>maxivaioli, Joaco_C</td>
                  <td>34</td>
                  <td>4</td>
                  <td>2</td>
                  <td><strong>80</strong></td>
              </tr>

              <tr>
                  <th>38</th>
                  <th>TEAM_vFreneTiC</th>
                  <td>Jose_fontee, vfrenetic_tomas</td>
                  <td>51</td>
                  <td>3</td>
                  <td>1</td>
                  <td><strong>78</strong></td>
              </tr>

              <tr>
                  <th>39</th>
                  <th>Theshooters</th>
                  <td>Jacket360, Martin C.A</td>
                  <td>49</td>
                  <td>3</td>
                  <td>1</td>
                  <td><strong>76</strong></td>
              </tr>

              <tr>
                  <th>40</th>
                  <th>SkullTrooperTeam</th>
                  <td>brunomonfa, cani2515</td>
                  <td>72</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>72</strong></td>
              </tr>

              <tr>
                  <th>41</th>
                  <th>SWAT TEAM</th>
                  <td>SWAT_Jayden, psn(sebaalbock)</td>
                  <td>67</td>
                  <td>1</td>
                  <td>0</td>
                  <td><strong>71</strong></td>
              </tr>

              <tr>
                  <th>42</th>
                  <th>Te la creíste wex</th>
                  <td>lluvidebalitas, Asrur95</td>
                  <td>63</td>
                  <td>2</td>
                  <td>0</td>
                  <td><strong>71</strong></td>
              </tr>

              <tr>
                  <th>43</th>
                  <th>De la frosio</th>
                  <td>tomidela, Lautipro 14</td>
                  <td>40</td>
                  <td>4</td>
                  <td>1</td>
                  <td><strong>71</strong></td>
              </tr>

              <tr>
                  <th>44</th>
                  <th>THE SHIELD</th>
                  <td>MATII_7, Nicobazuca</td>
                  <td>46</td>
                  <td>6</td>
                  <td>0</td>
                  <td><strong>70</strong></td>
              </tr>

              <tr>
                  <th>45</th>
                  <th>El TecPetrol</th>
                  <td>LonzalleMT, Juego-Urbano</td>
                  <td>54</td>
                  <td>3</td>
                  <td>0</td>
                  <td><strong>66</strong></td>
              </tr>

              <tr>
                  <th>46</th>
                  <th>XnxTeam</th>
                  <td>Twitch_Loganx04, PATOTO980</td>
                  <td>54</td>
                  <td>3</td>
                  <td>0</td>
                  <td><strong>66</strong></td>
              </tr>

              <tr>
                  <th>47</th>
                  <th>SacachispasUnidos</th>
                  <td>FranDash2017, Judabert39</td>
                  <td>46</td>
                  <td>5</td>
                  <td>0</td>
                  <td><strong>66</strong></td>
              </tr>

              <tr>
                  <th>48</th>
                  <th>Campers FC</th>
                  <td>Octaviosch1025, psn(guidoxnz)</td>
                  <td>39</td>
                  <td>6</td>
                  <td>0</td>
                  <td><strong>63</strong></td>
              </tr>

              <tr>
                  <th>49</th>
                  <th>Yelm team</th>
                  <td>Tomilacoste, Laaucha01</td>
                  <td>42</td>
                  <td>3</td>
                  <td>0</td>
                  <td><strong>54</strong></td>
              </tr>

              <tr>
                  <th>50</th>
                  <th>Iz4</th>
                  <td>ITS_CLOUDS_, Yz4_Aquaa</td>
                  <td>40</td>
                  <td>3</td>
                  <td>0</td>
                  <td><strong>52</strong></td>
              </tr>

              <tr>
                  <th>51</th>
                  <th>9gag</th>
                  <td>uliche_FDEZ, 9z Matyalmi</td>
                  <td>40</td>
                  <td>2</td>
                  <td>0</td>
                  <td><strong>48</strong></td>
              </tr>

              <tr>
                  <th>52</th>
                  <th>The shadow warriors</th>
                  <td>tobiasnahueln815, Yuanjuansoyyo23</td>
                  <td>35</td>
                  <td>2</td>
                  <td>0</td>
                  <td><strong>43</strong></td>
              </tr>

              <tr>
                  <th>53</th>
                  <th>Axel Nicolas Ojeda</th>
                  <td>axelnicolas2005, ivansanmartin77</td>
                  <td>36</td>
                  <td>1</td>
                  <td>0</td>
                  <td><strong>40</strong></td>
              </tr>

              <tr>
                  <th>54</th>
                  <th>VmTeam</th>
                  <td>JFQUINTERO20, psn(JuanVidela00)</td>
                  <td>25</td>
                  <td>3</td>
                  <td>0</td>
                  <td><strong>37</strong></td>
              </tr>

              <tr>
                  <th>55</th>
                  <th>Team3xtreme</th>
                  <td>xX_lu2910_Xx, YouTube_Matis22</td>
                  <td>18</td>
                  <td>1</td>
                  <td>1</td>
                  <td><strong>37</strong></td>
              </tr>

              <tr>
                  <th>56</th>
                  <th>Spirit</th>
                  <td>Tomi_Vicente7, NotGonzaa</td>
                  <td>20</td>
                  <td>2</td>
                  <td>0</td>
                  <td><strong>28</strong></td>
              </tr>

              <tr>
                  <th>57</th>
                  <th>Llamita</th>
                  <td>LeanMonteros, Juansolana5</td>
                  <td>25</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>25</strong></td>
              </tr>

              <tr>
                  <th>58</th>
                  <th>Estrella Roja</th>
                  <td>Fr4nco-, Scorbalan325</td>
                  <td>24</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>24</strong></td>
              </tr>

              <tr>
                  <th>59</th>
                  <th>Los Asiáticos</th>
                  <td>DorckZeex, MarquitosMorra22</td>
                  <td>21</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>21</strong></td>
              </tr>

              <tr>
                  <th>60</th>
                  <th>Coco's</th>
                  <td>Pelocho_5_6, ignacioveg</td>
                  <td>20</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>20</strong></td>
              </tr>

              <tr>
                  <th>61</th>
                  <th>LDT maZZer</th>
                  <td>NGT_DAnnu, 9z maZZer</td>
                  <td>15</td>
                  <td>1</td>
                  <td>0</td>
                  <td><strong>19</strong></td>
              </tr>

              <tr>
                  <th>62</th>
                  <th>Golles</th>
                  <td>BrunexJUJUY, Ciegor6</td>
                  <td>15</td>
                  <td>1</td>
                  <td>0</td>
                  <td><strong>19</strong></td>
              </tr>

              <tr>
                  <th>63</th>
                  <th>Team Elite</th>
                  <td>Luchopro15, ezedpastore</td>
                  <td>16</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>16</strong></td>
              </tr>

              <tr>
                  <th>64</th>
                  <th>Tala Gt</th>
                  <td>Diegotalamaza84, EmilioTala07</td>
                  <td>16</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>16</strong></td>
              </tr>

              <tr>
                  <th>65</th>
                  <th>Primos LF</th>
                  <td>Nicovanderhoe262, ByBros196</td>
                  <td>15</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>15</strong></td>
              </tr>

              <tr>
                  <th>66</th>
                  <th>JDF</th>
                  <td>jdsanchezcarpio, Franta99599</td>
                  <td>14</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>14</strong></td>
              </tr>

              <tr>
                  <th>67</th>
                  <th>EXILE</th>
                  <td>TuMama-_-XD, Sittonius28</td>
                  <td>13</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>13</strong></td>
              </tr>

              <tr>
                  <th>68</th>
                  <th>Matiago</th>
                  <td>matyyacarelli, SuperTiago30264</td>
                  <td>11</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>11</strong></td>
              </tr>

              <tr>
                  <th>69</th>
                  <th>INSIDE</th>
                  <td>LUCAS504SALTA-_-, Eze_jere</td>
                  <td>11</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>11</strong></td>
              </tr>

              <tr>
                  <th>70</th>
                  <th>Toros</th>
                  <td>Jimmycrack200926, Bnamuch</td>
                  <td>7</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>7</strong></td>
              </tr>

              <tr>
                  <th>71</th>
                  <th>The chanpions</th>
                  <td>Juansaave496, Facuxlegend</td>
                  <td>5</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>5</strong></td>
              </tr>

              <tr>
                  <th>72</th>
                  <th>Los cuervos</th>
                  <td>Catry21, Hero Exe</td>
                  <td>4</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>4</strong></td>
              </tr>

              <tr>
                  <th>73</th>
                  <th>Pañordo</th>
                  <td>Mattalia04, Sr Gamex</td>
                  <td>3</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>3</strong></td>
              </tr>

              <tr>
                  <th>74</th>
                  <th>Botardo 2.0</th>
                  <td>ISDKk, LP M4tiaS</td>
                  <td>3</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>3</strong></td>
              </tr>

              <tr>
                  <th>75</th>
                  <th>Team_LC</th>
                  <td>lucascena03_LC, Black Hammer</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>76</th>
                  <th>FaZe</th>
                  <td>julyjuares07, psn(moroyaquiles)</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>77</th>
                  <th>LosRebotadores</th>
                  <td>AleAltNob, RM-lucasnob10</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>78</th>
                  <th>Los Ñeris gato</th>
                  <td>Franjg06, psn(eww24680)</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>79</th>
                  <th>Los Dinamitas</th>
                  <td>yoshiemma7, patriciascheidle</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>80</th>
                  <th>Los hornos FC</th>
                  <td>Joan2902, Leleciaccia22</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>81</th>
                  <th>CARREA2</th>
                  <td>Chinorf12, ELTIPITO</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>82</th>
                  <th>Narcadiano</th>
                  <td>CA manudepor99, CA_Orito</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>83</th>
                  <th>GoldSquad</th>
                  <td>MaxiF18, FranMayor18</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>84</th>
                  <th>Alv team</th>
                  <td>AuGuStItO_432, Lechuza127</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>85</th>
                  <th>Lag</th>
                  <td>AAu_04, psn(DiazJacob1)</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>86</th>
                  <th>Manquitos</th>
                  <td>ElreyCebolla, Fransaad</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>87</th>
                  <th>Duros4ever</th>
                  <td>albajoaquin015, IR2D2</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>88</th>
                  <th>0</th>
                  <td>Jposcuro, psn(toto-zlau)</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>89</th>
                  <th>MGN</th>
                  <td>MaTeO_GiRaUdO, Maxi-Giraudo</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>90</th>
                  <th>F-J</th>
                  <td>Pikachu2700027, Pikachu2700027</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>91</th>
                  <th>LZT</th>
                  <td>PetriX5, LAUTARO_1311</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>92</th>
                  <th>TeamSoccer</th>
                  <td>itsSaNty7, lautarorivarosa</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>93</th>
                  <th>LosArbushtos</th>
                  <td>Nachowillington, psn(Z_DESTRUCCION)</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>94</th>
                  <th>MT99</th>
                  <td>lool900L, Tviene_</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>95</th>
                  <th>Safz</th>
                  <td>Sanmat743, Valcrack25</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>96</th>
                  <th>PanasMentales</th>
                  <td>xSangr3, psn(AgusRodriguezz0)</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>97</th>
                  <th>Losver galarga</th>
                  <td>feloybaste, facuromeroCAC</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>98</th>
                  <th></th>
                  <td>Helou12, psn(florcruzm)</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>99</th>
                  <th>PanasMentales</th>
                  <td>Xsangr3, psn(AgusRodriguezz0)</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>100</th>
                  <th>UnseeingTeam</th>
                  <td>FabriiMLG18-PC, Marcelon06-PC</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>101</th>
                  <th>TSASHOOTER</th>
                  <td>TSA-_HippeR, TSA-_Fakuh</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>102</th>
                  <th>Eskeresaurio</th>
                  <td>Mateocoelho321, taorebo64</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>103</th>
                  <th>Kelokesketit</th>
                  <td>XxTobixX432, Gods_fabri</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>104</th>
                  <th>R5D-_</th>
                  <td>Eaalvarito, R5D-_D10SITO</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>105</th>
                  <th>0</th>
                  <td>thiagodacal, ItsMe-.</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>106</th>
                  <th>LT_tr33e</th>
                  <td>Titolavinia, Leojortack1</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>107</th>
                  <th>FaR</th>
                  <td>JoacoTrollxD, Yeruriz</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>108</th>
                  <th>Jurio duo</th>
                  <td>Theoriginal_TL7, Slucas00</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>109</th>
                  <th>Favagabi</th>
                  <td>Lisandrito32, psn(Wiiil001)</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>110</th>
                  <th>Clavículas</th>
                  <td>TheBrerner, NievasFC_</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>111</th>
                  <th>BiVe</th>
                  <td>Dagus17, fbizama10</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>112</th>
                  <th>Los brossys</th>
                  <td>TSM_NARDOXIN123, psn(TSM_BREB)</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>113</th>
                  <th>tfuasandra</th>
                  <td>elPocci, LBP_pakocueva</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>114</th>
                  <th>The cicarios</th>
                  <td>Matt_piermarini, mateoconte2</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>115</th>
                  <th>TheNoobsFC</th>
                  <td>DrCross04, El Pole xd</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>116</th>
                  <th>team fort</th>
                  <td>nihuil56678, AK-_47GoOdZz</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>117</th>
                  <th>Rush Killers</th>
                  <td>maaaartin1i, RK-Rodri21</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>118</th>
                  <th></th>
                  <td>FranVallejo, Joaquincarc18</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>119</th>
                  <th>NibbasArmy</th>
                  <td>Lil Angel Xd, fabri_of_duty</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>120</th>
                  <th>NinjaTfueFusion</th>
                  <td>ToDarknessRu, OmegaHack201</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>

              <tr>
                  <th>121</th>
                  <th>TaNgo Team</th>
                  <td>TaNgo D0rta, Lamarque22</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td><strong>0</strong></td>
              </tr>


        </tbody></table>
    </div>


</section>

{% endblock %}
