{% extends 'base.html' %}
{% load static from staticfiles %}
<!DOCTYPE html>

{% block content %}

<section class='section'>
<div class="container">
      <article class="tile is-info is-12 is-child notification">
        <p class="title has-text-centered">Resultados del torneo para usuarios de PS4!</p>

</div>
</section>
<section>
    <div class="container">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                  <th><abbr title="Posicion">Pos</abbr></th>
                  <th><abbr title="Usuario">Usuario</th>
                  <th><abbr title="Twitch">Twitch</abbr></th>
                  <th><abbr title="Kills">Kills</abbr></th>
                  <th><abbr title="Wins">Wins</abbr></th>
                  <th><abbr title="K/M">K/M</abbr></th>
                  <th><abbr title="Puntaje">Puntos</abbr></th>


                </tr>
              </thead>
              <tbody>

                {% for usuario in participantes %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ usuario.user }}</td>
                    <td><a href="https://www.twitch.tv/{{ usuario.user.last_name }}" target="_blank">{{ usuario.user.last_name }}</a></td>
                    <td>{{ usuario.kills }}</td>
                    <td>{{ usuario.wins }}</td>
                    <td>{{ usuario.kd }}</td>
                    <td>{{ usuario.puntos }}</td>
                </tr>
                {% endfor %}


    </div>
</section>


{% endblock %}
