{% extends 'base.html' %}
{% load static from staticfiles %}
<!DOCTYPE html>

{% block content %}

<section class='section'>
    <div class="container">
          <article class="tile is-danger is-12 is-child notification">
            <p class="title has-text-centered">El torneo todavia no comenzo, o los resultados no han sido publicados todavia!</p>
            <p class="subtitle has-text-centered"></p>

                <p class="content has-text-centered">Una vez terminado el torneo, podras ver los resultados aqui!</p>

    </div>
<!-- </section>
  <section>
      <div class="container">
          <table class="table is-fullwidth">
              <thead>
                <tr>
                  <th><abbr title="Posicion">Pos</abbr></th>
                  <th><abbr title="Usuario">Team</abbr></th>
                  <th><abbr title="Twitch">Players</abbr></th>
                  <th><abbr title="Twitch">Kills</abbr></th>
                  <th><abbr title="Twitch">Top 5</abbr></th>
                  <th><abbr title="Twitch">Wins</abbr></th>
                  <th><abbr title="Puntaje">Puntos</abbr></th>
                </tr>
              </thead>
              <tbody>

                {% for usuario in participantes %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <th>{{ usuario.equipo }}</th>
                    <td>{{ usuario.user }}, {{ usuario.user.first_name }}</td>
                    <td>{{ usuario.kills_totales }}</td>
                    <td>{{ usuario.top5_1 }}</td>
                    <td>{{ usuario.wins_totales }}</td>
                    <td><strong>{{ usuario.puntos }}</strong></td>
                </tr>
                {% endfor %}

        </table>
      </div>
  </section> -->

<!-- TABLA VIEJA -->

<section class='section'>
<div class="container">
      <article class="tile is-dark2 is-12 is-child notification">
        <p class="title has-text-centered">Resultados del torneo de prueba!</p>

</div>
</section>

<section class='section'>
    <div class="container">
          <table class="table is-fullwidth">
              <thead>
                <tr>
                  <th><abbr title="Posicion">Pos</abbr></th>
                  <th><abbr title="Usuario">Team</abbr></th>
                  <th><abbr title="Twitch">Players</abbr></th>
                  <th><abbr title="Twitch">Kills</abbr></th>
                  <th><abbr title="Twitch">Top 5</abbr></th>
                  <th><abbr title="Twitch">Wins</abbr></th>
                  <th><abbr title="Puntaje">Puntos</abbr></th>
                </tr>
              </thead>
              <tbody>


                <tr>
                    <th>1</th>
                    <th>0</th>
                    <td>Riverito07, aserejé ja de je</td>
                    <td>143</td>
                    <td>5</td>
                    <td>3</td>
                    <td><strong>208</strong></td>
                </tr>

                <tr>
                    <th>2</th>
                    <th>High on bush</th>
                    <td>Not Gefra, Paccin0</td>
                    <td>139</td>
                    <td>4</td>
                    <td>2</td>
                    <td><strong>185</strong></td>
                </tr>

                <tr>
                    <th>3</th>
                    <th>Los Concu</th>
                    <td>SrTorus, CA Gambeta</td>
                    <td>126</td>
                    <td>4</td>
                    <td>2</td>
                    <td><strong>172</strong></td>
                </tr>

                <tr>
                    <th>4</th>
                    <th>QuavoTeam</th>
                    <td>QυανσIҒ, Lucคs Rשbiợ</td>
                    <td>79</td>
                    <td>9</td>
                    <td>3</td>
                    <td><strong>160</strong></td>
                </tr>

                <tr>
                    <th>5</th>
                    <th>ΛIM</th>
                    <td>ΛIM_мяѕαℓѕα, AIM_THERAVEN</td>
                    <td>57</td>
                    <td>9</td>
                    <td>4</td>
                    <td><strong>153</strong></td>
                </tr>

                <tr>
                    <th>6</th>
                    <th>Te fuiste pijea3</th>
                    <td>Zicâ, Fgs holdthedoor</td>
                    <td>82</td>
                    <td>8</td>
                    <td>2</td>
                    <td><strong>144</strong></td>
                </tr>

                <tr>
                    <th>7</th>
                    <th>La Mafia Pancheeto</th>
                    <td>LMP Kencho, DemixOne</td>
                    <td>109</td>
                    <td>2</td>
                    <td>1</td>
                    <td><strong>132</strong></td>
                </tr>

                <tr>
                    <th>8</th>
                    <th>Noobs</th>
                    <td>BenjaCortasa, Mudo12</td>
                    <td>66</td>
                    <td>5</td>
                    <td>3</td>
                    <td><strong>131</strong></td>
                </tr>

                <tr>
                    <th>9</th>
                    <th>BRC TEAM</th>
                    <td>xXx-espux, xXx-korl3sh</td>
                    <td>60</td>
                    <td>6</td>
                    <td>3</td>
                    <td><strong>129</strong></td>
                </tr>

                <tr>
                    <th>10</th>
                    <th>Alph TM</th>
                    <td>Pumpea3 by Juli, EA SI ZEKØØØØØ</td>
                    <td>70</td>
                    <td>4</td>
                    <td>2</td>
                    <td><strong>116</strong></td>
                </tr>

                <tr>
                    <th>11</th>
                    <th>Super Soquetes</th>
                    <td>CA-Shleytter, CA Hint</td>
                    <td>56</td>
                    <td>3</td>
                    <td>1</td>
                    <td><strong>83</strong></td>
                </tr>

                <tr>
                    <th>12</th>
                    <th>Dynamic</th>
                    <td>NicoxSote18, RevolutioN_SUR</td>
                    <td>67</td>
                    <td>3</td>
                    <td>0</td>
                    <td><strong>79</strong></td>
                </tr>

                <tr>
                    <th>13</th>
                    <th>Cardo Army</th>
                    <td>Agus_cardo, Ramiro7121</td>
                    <td>49</td>
                    <td>3</td>
                    <td>1</td>
                    <td><strong>76</strong></td>
                </tr>

                <tr>
                    <th>14</th>
                    <th>Hell and heaven</th>
                    <td>BADM1LKK, AntoC</td>
                    <td>69</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>69</strong></td>
                </tr>

                <tr>
                    <th>15</th>
                    <th>Icie</th>
                    <td>Icie Arcast, Icie Koamblitz</td>
                    <td>38</td>
                    <td>3</td>
                    <td>1</td>
                    <td><strong>65</strong></td>
                </tr>

                <tr>
                    <th>16</th>
                    <th>TeamRouge</th>
                    <td>MuñecoGallardo., Kito Mododiablo</td>
                    <td>52</td>
                    <td>1</td>
                    <td>0</td>
                    <td><strong>56</strong></td>
                </tr>

                <tr>
                    <th>17</th>
                    <th>VT</th>
                    <td>VTgaZe, 9z Tobilami</td>
                    <td>39</td>
                    <td>1</td>
                    <td>0</td>
                    <td><strong>43</strong></td>
                </tr>

                <tr>
                    <th>18</th>
                    <th>KALAKA</th>
                    <td>JuanpiMT_, 17K_cristian</td>
                    <td>30</td>
                    <td>1</td>
                    <td>0</td>
                    <td><strong>34</strong></td>
                </tr>

                <tr>
                    <th>19</th>
                    <th>Goldduo</th>
                    <td>frankkrnero, rompeculos100</td>
                    <td>10</td>
                    <td>2</td>
                    <td>0</td>
                    <td><strong>18</strong></td>
                </tr>

                <tr>
                    <th>20</th>
                    <th>LSM_TEAM</th>
                    <td>TotoSleiiman, LSM_Maxi-ARG</td>
                    <td>14</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>14</strong></td>
                </tr>

                <tr>
                    <th>21</th>
                    <th>Pipeiros FC</th>
                    <td>Fglizarraga, Nicolu97</td>
                    <td>7</td>
                    <td>1</td>
                    <td>0</td>
                    <td><strong>11</strong></td>
                </tr>

                <tr>
                    <th>22</th>
                    <th>FON</th>
                    <td>FON Cöquein, FON luchö</td>
                    <td>10</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>10</strong></td>
                </tr>

                <tr>
                    <th>23</th>
                    <th>Kenai</th>
                    <td>ChochitoDulce, LeanJCar1</td>
                    <td>4</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>4</strong></td>
                </tr>

                <tr>
                    <th>24</th>
                    <th>Isotopos</th>
                    <td>NahuelAmieva10, CGE WOLF</td>
                    <td>3</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>3</strong></td>
                </tr>

                <tr>
                    <th>25</th>
                    <th>TBHPotatoAim</th>
                    <td>LFT Xirez, Lechitapaterna</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>1</strong></td>
                </tr>

                <tr>
                    <th>26</th>
                    <th>Toreros</th>
                    <td>Electro.-, JustOneTico</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>0</strong></td>
                </tr>

                <tr>
                    <th>27</th>
                    <th>Dinamita</th>
                    <td>Eliiseo15, isiim</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>0</strong></td>
                </tr>

                <tr>
                    <th>28</th>
                    <th>MSB</th>
                    <td>Msb Nahuel, Msb FedeG</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>0</strong></td>
                </tr>

                <tr>
                    <th>29</th>
                    <th>Los retra</th>
                    <td>leandrohs, gustavo012-morel</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>0</strong></td>
                </tr>

                <tr>
                    <th>30</th>
                    <th>D4</th>
                    <td>9z Joaquin1927, Esteban_684</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>0</strong></td>
                </tr>

                <tr>
                    <th>31</th>
                    <th>B MAFIA</th>
                    <td>49 DE FIEBRE, BM_SPARKY MANE</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>0</strong></td>
                </tr>

                <tr>
                    <th>32</th>
                    <th>Team TsgL</th>
                    <td>SlimeguyYTU, TinchoLister-2</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>0</strong></td>
                </tr>

                <tr>
                    <th>33</th>
                    <th>Bot Squad</th>
                    <td>D3maus, santi_25</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>0</strong></td>
                </tr>

                <tr>
                    <th>34</th>
                    <th>The chachun boys</th>
                    <td>chun-lie95, Andres</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>0</strong></td>
                </tr>

                <tr>
                    <th>35</th>
                    <th>Corrientesteam</th>
                    <td>JuampiBeber09, Hirasboneta</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>0</strong></td>
                </tr>

                <tr>
                    <th>36</th>
                    <th>Posse clan</th>
                    <td>CarCar-_-325, lukitas pagnan</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>0</strong></td>
                </tr>

                <tr>
                    <th>37</th>
                    <th>Rezna</th>
                    <td>Reznicki, CA lires</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>0</strong></td>
                </tr>

                <tr>
                    <th>38</th>
                    <th>Viral team ndeahh</th>
                    <td>SALUSTIANO5, Twitch fenix_fps</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>0</strong></td>
                </tr>

                <tr>
                    <th>39</th>
                    <th>Duki's team</th>
                    <td>AlEelBasilon44, Lucascont</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>0</strong></td>
                </tr>

                <tr>
                    <th>40</th>
                    <th>FluX</th>
                    <td>FluX Marcos, FluX Ian</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>0</strong></td>
                </tr>

                <tr>
                    <th>41</th>
                    <th>CADF</th>
                    <td>ℓuchσツ, xXMaTiiCODXx</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>0</strong></td>
                </tr>

                <tr>
                    <th>42</th>
                    <th>Mansión Viral</th>
                    <td>Elartuu, 9z homer</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>0</strong></td>
                </tr>

                <tr>
                    <th>43</th>
                    <th>kRaFT</th>
                    <td>kRaFT Iv0, T7-F4cuSS</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><strong>0</strong></td>
                </tr>


        </tbody></table>
      </div>

</section>


{% endblock %}
