{% extends 'base.html' %}
{% load static from staticfiles %}
<!DOCTYPE html>

{% block content %}

<section class='section section-padding-large'>

</section>

<section class='section'>
<div class="container">
      <article class="tile is-danger is-12 is-child notification">
        <p class="title has-text-centered">El torneo todavia no comenzo, o los resultados no han sido publicados todavia!</p>
        <p class="subtitle has-text-centered"></p>

            <p class="content has-text-centered">Una vez terminado el torneo, podras ver los resultados aqui!</p>

</div>
</section>

<section class='section section-padding-large'>

</section>


{% endblock %}
