{% extends 'base.html' %}
{% load static from staticfiles %}
<!DOCTYPE html>

{% block content %}
<div class="">
        <article class="tile is-dark is-12 is-child notification">
            <p class="title has-text-centered">Proximamente torneo BLACK PAN! 1 y 2 de Diciembre! Enterate mas!</p/>

<section class='section'>

    <nav class="level">
        <div class="level-item has-text-centered">
            <figure class="image image is-128x128">
              <img src="{% static 'logo.png' %}">
        </div>
        </nav>



    <div class="container">
        <div class="content has-text-centered">
          <h1 class="title">
            Reglas del Torneo
          </h1>
          <p class="subtitle">
            Como funciona, <strong>Terminos y condiciones</strong>!
          </p>
          <p class='content has-text-centered'>1. El torneo se realizara en equipos de 2 usuarios (dúos).</p>
          <p class='content has-text-centered'>2. Se realizaran x torneos por mes en los que sumaras puntos para mejorar tu posición en la tabla general.</p>
          <p class='content has-text-centered'>3. Se dará a conocer el día de cada torneo y la duración de los mismos mediante las redes
sociales de la Liga.</p>
          <p class='content has-text-centered'>4. Los puntos se darán por: a) Asesinatos (1 punto)
b) Victorias (15 puntos)</p>
          <p class='content has-text-centered'>5. Habrá 1 Liga por cada plataforma, PS4 y PC, por separado; los premios también serán
por separado.</p>
          <p class='content has-text-centered'>6. En la portada principal de la página se puede ver las instrucciones de inscripción</p>
          <p class='content has-text-centered'>7. El sistema de conteo de puntos es automático, los usuarios no tienen que hacer nada
más que jugar y divertirse.</p>
          <p class='content has-text-centered'>8. El sistema de conteo automático no tiene margen de error, las estadísticas son
obtenidas a través de los servidores del juego.</p>
         </div>
    </div>
  </section>


{% endblock %}
