{% extends "account/base.html" %}
{% load static from staticfiles %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}

<div class="container">

    <section class='section'>
        <nav class="level">
            <div class="level-item has-text-centered">
                <figure class="image">
                  <img src="{% static 'fortnite/logo.png' %}">
            </div>
            </nav>



<div class="content has-text-centered">
    <h1 class= 'title'>{% trans "Confirmar E-mail" %}</h1>

    {% if confirmation %}

    {% user_display confirmation.email_address.user as user_display %}

    <p>{% blocktrans with confirmation.email_address.email as email %}Por favor confirma que <a href="mailto:{{ email }}">{{ email }}</a> es la direccion de E-mail de {{ user_display }}.{% endblocktrans %}</p>

    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
        <button class='button'  type="submit">{% trans 'Confirmar' %}</button>
    </form>

    {% else %}

    {% url 'account_email' as email_url %}

    <p>{% blocktrans %}Este link de verificacion es invalido o esta vencido. Por favor <a href="{{ email_url }}">reenvia la confirmacion</a>.{% endblocktrans %}</p>

    {% endif %}
</div>

</section>
</div>

{% endblock %}
