{% extends "account/base.html" %}
{% load account %}
{% load static from staticfiles %}


{% block content %}

<section class='section section-padding-large'>

</section>

<section class='section'>
<div class="container">
      <article class="tile is-warning is-12 is-child notification">
        <p class="title has-text-centered">Usuario de Epic Games NO ENCONTRADO!</p>
        <p class="subtitle has-text-centered"></p>

            <p class="content has-text-centered">Una vez terminado el torneo, podras ver los resultados aqui!</p>

</div>
</section>

<section class='section section-padding-large'>

</section>


{% endblock %}
