{% extends "account/base.html" %}
{% load account %}
{% load static from staticfiles %}


{% block content %}

<section class='section section-padding-large'>

</section>

<section class='section'>
<div class="container">
      <article class="tile is-warning is-12 is-child notification">
        <p class="title has-text-centered">Usuario de Epic Games NO ENCONTRADO!</p>
        <p class="subtitle has-text-centered"></p>

            <p class="content has-text-centered">Epic rechazo el nombre de usurio con el que te inscribiste en la liga. Esto puede deberse a dos razones:</p>
            <ol type="1">
              <li>El usuario proporcionado no existe. Chequea que hayas tecleado correctamente tu usuario.</li>
              <li>CASO USUAARIOS PS4: Puede que todavia no hayas vinculado tu cuenta de psn con una cuenta de epic. Recuerda que debes inscribirte con tu nombre de usuario de EPIC GAMES y no el de PSN</li>
            <p class="content has-text-centered">Si te inscribiste con el nombre de usuario equivocado, contactanos para que podamos corregirlo.</p>
</ol>

</div>
</section>

<section class='section section-padding-large'>

</section>


{% endblock %}
