{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

{% load static from staticfiles %}

<section class='section'>

</section>
<div class="container">
    <div class="columns">
      <div class="column is-5">
          <h1 class='title'>{% trans "Registrate" %}</h1>
          <h1 class='subtitle'>(Usuarios de PS4 ver la guia para obtener su usuario de epic mas abajo!)</h1>

          <p>{% blocktrans %}Ya tienes una cuenta? <a href="{{ login_url }}">Iniciar Sesion</a>.{% endblocktrans %}</p>

          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <section class='section section-padding-large'>
                <p></p>
                <p></p>
                <button class="button is-primary" type="submit">{% trans "Registrarme" %} &raquo;</button>
            </section>
          </form>
      </div>
      <div class="column is-1">

      </div>
      <div class="column">
          <div class="tile">
              <div class="tile">
                  <nav class="level">
                      <div class="level-item has-text-centered">
                          <figure class="image">
                            <img src="{% static '/images/logo_chico_black.png' %}">
                      </div>
                  </nav>
             </div>
          </div>
      </div>
      <div class="column is-1">

      </div>
    </div>

    <div class="content has-text-centered">
        <h1 class="title has-text-danger">
          Usuarios de PS4: Como encuentro mi Usuario de epic??
        </h1>
        <section>
            <p class="subtitle">
              Si solo juegas en Ps4 y nunca vinculaste tu cuenta con un usuario de Epic, o si no te acuerdas cual es, deberas dirigirte a <a href="https://www.epicgames.com/fortnite/es-ES/news">esta pagina</a> y logearte con tu cuenta de Playstation Network!
            </p>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <figure class="image">
                      <img src="{% static 'images/ps4_chico.png' %}">
                </div>
            </nav>
            <p class="subtitle">
              Una vez logeado, podras ver tu usuario de Epic Games en la configuracion de tu cuenta!
            </p>
            <p class="subtitle">
              Es MUY importante que te registres con tu usuario de EPIC y no el de PSN ya que en ese caso no podras participar!
            </p>
        </section>
    </div>
</div>


<!--
    <div class="container">

    </div> -->

        <!-- <div class="container">

        </div> -->


{% endblock %}
