{% extends 'base_black.html' %}
{% load static from staticfiles %}
<!DOCTYPE html>

{% block content %}

<div class="">
        <article class="tile is-dark is-12 is-child notification">
        <nav class="level">
            <div class="level-item has-text-centered">
                <figure class="image">
                  <img src="{% static '/images/logo_chico_black.png' %}">
            </div>
        </nav>
</div>

<section class="section">
    <div class="container">
        <div class="banner">

        </div>
    </div>
</section>

<section class='section'>
<div class="container">
      <article class="tile is-dark2 is-12 is-child notification">
        <p class="title has-text-centered">Participantes Inscriptos para el torneo BLACK PAN!</p>
</div>
</section>



<section>
    <div class="container">
        <table class="table is-fullwidth">
            <thead>
              <tr>
                  <th><abbr title="Posicion">Pos</abbr></th>
                  <th><abbr title="Usuario">Team</abbr></th>
                  <th><abbr title="Twitch">Players</abbr></th>

              </tr>
            </thead>
            <tbody>

              {% for usuario in participantes %}
              <tr>
                  <th>{{ forloop.counter }}</th>
                  <th>{{ usuario.equipo }}</th>
                  <td>{{ usuario.user }}, {{ usuario.user.first_name }}</td>
              </tr>
              {% endfor %}

        </table>
    </div>
</section>


{% endblock %}
