{% extends 'base_black.html' %}
{% load static from staticfiles %}
<!DOCTYPE html>

{% block content %}
{% if user.is_authenticated %}
<div class="">
        <article class="tile is-dark is-12 is-child notification">
            <p class="title has-text-centered">Acordate! La fase clasificatoria se juega el 25/11 a las 16hs!!</p/>
                <nav class="level">
                    <div class="level-item has-text-centered">
                        <figure class="image">
                          <img src="{% static '/images/logo_chico_black.png' %}">
                    </div>
                </nav>
                <!-- <article class="tile is-danger is-12 is-child notification">
                <p class="title has-text-centered">Los resultados ya estan disponibles!!</p/> -->
        </div>

{% else %}
<div class="">
        <article class="tile is-dark is-12 is-child notification">
                <p class="title has-text-centered">¡Inscribite a la fase clasificatoria!</p/>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <figure class="image">
                      <img src="{% static '/images/logo_chico_black.png' %}">
                </div>
            </nav>
            <!-- <article class="tile is-danger is-12 is-child notification">
            <p class="title has-text-centered">Los resultados ya estan disponibles!!</p/> -->
    </div>

{% endif %}



<section class='section'>

        <div class="container">
            <div class="content is-medium">
                <h1 class="title">
                    Modalidad y Reglas del Torneo
                </h1>
                <p class="subtitle">
                    El Torneo contara de dos fases. Una clasificacion no presencial a travez de nuestra plataforma, y una fase final en donde los mejores 32 equipos se enfrentaran de manera presencial.
                </p>
                <div class="content is-medium">
                <h2 class='title'>
                    Clasificación
                </h2>
                <p>
                    La clasificación se va a realizar el dia <strong>domingo 25 de Noviembre</strong>, solo para gente de <strong>Córdoba (Argentina)</strong>, la misma se jugará desde las 16:00 hasta las 19:00 y <strong>solo se va a jugar en PlayStation 4</strong>. Aquellos que quieran participar deberán inscribirse <a href="{% url 'account_signup' %}">AQUÍ</a>. La forma de jugar va a ser en partidas normales en modo <strong>DÚO</strong>.  Mediante nuestro sistema contaremos todos los puntos realizados por los participantes, quienes no deben hacer nada más que jugar de la forma que explicamos para que el sistema funcione correctamente.
                </p>
                <p>
                    Sistema de Puntos:
                </p>
                <ul>
                    <li>1 punto por cada kill</li>
                    <li>4 puntos por llegar al top 5</li>
                    <li>15 puntos por cada win</li>
                </ul>
                <p>
                    Luego de finalizado el torneo se publicará los resultados finales, a partir de esto los 32 mejores equipos quedarán clasificados para la fase final del torneo, la cual explicaremos a continuación.
                </p>
                <h2 class='title'>
                    Fase Final Presencial
                </h2>
                <p>
                    La misma se va a realizar con los 32 mejores equipos, la modalidad será presencial en el local de <strong>BlackPan en Gregorio Gavier 2056</strong>. Donde los esperaremos a todos para presenciar un excelente nivel de juego y competitividad. El torneo sera relatado y transmitido en pantalla gigante! <strong>Tambien tendremos preparados sorteos, juegos y combos de burgers especiales para la ocasión!</strong>. Estan todos invitados a vivir una jornada increible.
                </p>
                <p>
                     Deberá cada participante <strong>asistir con su mando de PlayStation</strong>. En esta jornada se hará un cuadro de eliminación directa donde en cada cruce se enfrentarán los equipos en una sola partida en la modalidad escuadrón. Los dos equipos ingresaran juntos en la partida y deberán tratar de superar a su rival obteniendo la mayor cantidad de kills posibles. Los puntos serán equivalentes a las kills, en caso de empate se realizará otra partida con la misma modalidad, y si vuelven a empatar ganará el equipo cuyo integrante sea el último en morir.
                </p>
                <p>
                    Durante el primer dia (1 de diciembre) se jugará la primera y segunda ronda, y a partir de los cuartos de final se jugará el siguiente dia (2 de diciembre).
                </p>
            </div>
        </div>
</section>
<section class='section'>
    <div class="container">
        <article class="tile is-dark2 is-12 is-child notification">
            <p class="title has-text-centered">Como Participar?</p>
    </div>
</section>
<section class='section section-padding-small'>
        <div class="container">
            <div class="content is-medium">
                <h3 class='title'>
                    Usuarios todavia no registrados:
                </h3>
                <p>
                    Si todavía no te has registrado en la Liga Argentina de Fortnite, lo primero que debes hacer es registrar a tu equipo. Puedes hacerlo <a href="{% url 'account_signup' %}">AQUÍ</a>. Es importante que estés seguro que los usuarios que vas a registrar son <strong>usuarios de Epic Games y no de Playstation Network</strong> y que selecciones que SÍ cuando se te pregunte si quieres participar del torneo BLACK PAN. Una vez completado el formulario, deberás confirmar la dirección de email proporcionada.
                </p>
                <p>
                    Una vez que ya estén correctamente inscriptos, su cuenta deberá ser verificada. Este proceso lo realizamos de manera manual así que podemos tardar unos días en verificar tu cuenta. Cuando sean verificados, recibirán un mail informando la verificación exitosa.
                </p>
                <p>
                    <strong>Genial!</strong> Ya estarían participando en el torneo. Podrán corroborar chequeando la lista de participantes <a href="{% url 'black_pan_participantes' %}"></a>quí!
                </p>
                <h3 class='title'>
                    Usuarios ya registrados:
                </h3>
                <p>
                    En caso de que ya estén inscriptos en la Liga Argentina de Fortnite, deberan contactarse via Email ( <a href="mailto:ligafortnitearg@gmail.com?Subject=Inscripcion%20Torneo%20Black%20Pan" target="_top">ligafortnitearg@gmail.com</a> ) o Instagram <a href="https://www.instagram.com/la_fortnite_liga/">@La_Fortnite_Liga</a> para que atencion al cliente los inscriba en el torneo Black Pan!
                </p>
            </div>
        </div>
</section>



{% endblock %}
