{% extends 'base_black.html' %}
{% load static from staticfiles %}
<!DOCTYPE html>

{% block content %}

<div class="">
        <article class="tile is-dark is-12 is-child notification">
        <nav class="level">
            <div class="level-item has-text-centered">
                <figure class="image">
                  <img src="{% static '/images/logo_chico_black.png' %}">
            </div>
        </nav>
</div>

<section class="section">
    <div class="container">
        <div class="banner">

        </div>
    </div>
</section>

<section class='section'>
    <div class="container">
        <div class="content">
            <h1 class="title">
                Reglas del Torneo (clasificacion)
            </h1>
            <p class="subtitle">
                Como funciona, <strong>Terminos y condiciones</strong>!
            </p>
            <div class="content is-medium">
                <ol type="1">
                    <li>El torneo se realizara en equipos de 2 usuarios (dúos).</li>
                    <li>Los puntos se darán por: a) Asesinatos (1 punto) b) Victorias (15 puntos) c) Top 5 (4 puntos)</li>
                    <li>Solo pueden participar usuarios de PS4</li>
                    <li>En la portada principal de la página se puede ver las instrucciones de inscripción</li>
                    <li>El sistema de conteo de puntos es automático, los usuarios no tienen que hacer nada más que jugar y divertirse.</li>
                    <li>El sistema de conteo automático no tiene margen de error, las estadísticas son obtenidas a través de los servidores del juego</li>
                    <li>Los mejores 32 equipos de la fase clasificatoria, pasaran a jugar la final en Black Pan (Presencial)</li>
                    <li>Cada participante debera llevar su control de PS4 y headset.</li>
                    <li>La fase final sera en modalidad torneo de llaves eliminatorio. Se jugara una partida por enfrentamiento.</li>
                    <li>En caso de cualquier conflicto, los veedores del torneo de la LAF tendran la ultima palabra en su resolucion.</li>
                </ol>
            </div>
    </div>
</section>

<section class='section'>
    <div class="container">
        <div class="content">
            <h1 class="title">
                Reglas del Torneo (FASE FINAL PRESENCIAL)
            </h1>
            <p class="subtitle">
                Como funciona, <strong>Terminos y condiciones</strong>!
            </p>
            <div class="content is-medium">
                <ol type="1">
                    <li>Las partidas se juegan en Duos vs Squad, donde ambos equipos ingresan a la misma sala y partida.</li>
                    <li>Gana el equipo que más puntos sume, (1 punto por kill), en caso de empate se realizará otra partida con la misma modalidad, en caso de que tengan los mismos puntos, ganará el equipo cuyo participante sea el último en morir.</li>
                    <li>Dentro de la partida no hay ningún tipo de prohibición, lo que significa que cada equipo puede optar por la estrategia que quieran,por ejemplo:  ir todos al mismo lugar o separados, provocar la muerte de un jugador del equipo contrario, no revivir a otro jugador, etc.</li>
                    <li>Cada jugador debe asistir con su mando y auriculares, si el mismo no lo tiene cuando le toca jugar, no va a poder participar y ganará el equipo contrario, no es responsabilidad del torneo.</li>
                    <li>Con respecto a la impuntualidad, si alguno de los integrantes no está en el momento que son llamados para jugar,teniendo en cuenta que hay una tolerancia de 5 minutos, y avanzará el equipo contrario.</li>
                    <li>En caso que ocurra un imprevisto, como ser que se caigan los servidores del juego, se caiga la luz, una de las consolas o televisores falle, etc, sin importar cómo esté el marcador en ese momento, se volverá a empezar desde cero.</li>
                    <li>Previo a cada partida los participantes van a disponer de un breve tiempo para configurar los controles.</li>
                    <li>Los participantes deben ser sin ningún tipo de excepción los mismos que participaron el la clasificación.</li>
                    <li>En caso que se confirme la ausencia de una pareja previamente a arrancar el torneo, pueden ser reemplazados por una de las parejas suplentes.</li>
                    <li>Ante cualquier duda de cualquier tipo los que tienen la palabra final son los representantes de La Liga Argentina de Fortnite.</li>

                </ol>
            </div>
    </div>
</section>j


{% endblock %}
