{% extends 'base_black.html' %}
{% load static from staticfiles %}
<!DOCTYPE html>

{% block content %}

<div class="">
        <article class="tile is-dark is-12 is-child notification">
        <nav class="level">
            <div class="level-item has-text-centered">
                <figure class="image">
                  <img src="{% static '/images/logo_chico_black.png' %}">
            </div>
        </nav>
</div>

<section class="section">
    <div class="container">
        <div class="banner">

        </div>
    </div>
</section>

<section class='section'>
    <div class="container">
        <div class="content">
            <h1 class="title">
                Reglas del Torneo
            </h1>
            <p class="subtitle">
                Como funciona, <strong>Terminos y condiciones</strong>!
            </p>
            <div class="content is-medium">
                <ol type="1">
                    <li>El torneo se realizara en equipos de 2 usuarios (dúos).</li>
                    <li>Los puntos se darán por: a) Asesinatos (1 punto) b) Victorias (15 puntos) c) Top 5 (4 puntos)</li>
                    <li>Solo pueden participar usuarios de PS4</li>
                    <li>En la portada principal de la página se puede ver las instrucciones de inscripción</li>
                    <li>El sistema de conteo de puntos es automático, los usuarios no tienen que hacer nada más que jugar y divertirse.</li>
                    <li>El sistema de conteo automático no tiene margen de error, las estadísticas son obtenidas a través de los servidores del juego</li>
                    <li>Los mejores 32 equipos de la fase clasificatoria, pasaran a jugar la final en Black Pan (Presencial)</li>
                    <li>Cada participante debera llevar su control de PS4 y headset.</li>
                    <li>La fase final sera en modalidad torneo de llaves eliminatorio. Se jugara una partida por enfrentamiento.</li>
                    <li>En caso de cualquier conflicto, los veedores del torneo de la LAF tendran la ultima palabra en su resolucion.</li>
                </ol>
            </div>
    </div>
</section>



{% endblock %}
