{% extends 'base_black.html' %}
{% load static from staticfiles %}
<!DOCTYPE html>

{% block content %}

<div class="">
        <article class="tile is-dark is-12 is-child notification">
        <nav class="level">
            <div class="level-item has-text-centered">
                <figure class="image">
                  <img src="{% static '/images/logo_chico_black.png' %}">
            </div>
        </nav>
</div>

<section class="section">
    <div class="container">
        <div class="banner">

        </div>
    </div>
</section>

<section class='section'>
    <div class="container">
        <article class="tile is-12 is-child notification">
            <p class="title has-text-centered">Premios a los ganadores del torneo!</p>
    </div>
</section>



<section class='section'>
        <div class="container">
            <div class="content is-large">
                <p>
                    <strong>Premio al primer puesto:</strong> 5000 PAVOS (60 USD), 2 gorras BLACK PAN y una orden de compra en Black Pan para 4 personas!
                </p>
                <p>
                    <strong>Premio al segundo puesto:</strong> 2000 PAVOS (24 USD), 2 gorras BLACK PAN y una orden de compra en Black Pan para 2 personas!
                </p>
            </div>
        </div>
</section>


<section class='section'>
    <div class="container">
        <article class="tile is-12 is-child notification">
            <p class="title has-text-centered">Premio al mejor disfraz de Fortnite!</p>
    </div>
</section>

<section class='section'>
        <div class="container">
            <div class="content is-large">
                <p>
                    <strong>Premio al mejor disfraz:</strong> 1000 PAVOS (12 USD), 1 gorras BLACK PAN y una orden de compra en Black Pan para 2 personas!
                </p>
            </div>
        </div>
</section>



{% endblock %}
