{% load static from staticfiles %}

@font-face {
    font-family: 'iciel_crocanteregular';
    src: url('/static/fonts/iciel-crocante-webfont.woff2') format('woff2'),
         url('/static/fonts/iciel-crocante-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



.button.is-dark{background-color:#1e1e1e;border-color:transparent;color:#f5f5f5}

.tile.is-dark{
    background-color:#1e1e1e;
    border-color:transparent;
    color:#f5f5f5;
    border-radius: 0px;
}

.tile.is-dark2{
    background-color:#1e1e1e;
    border-color:transparent;
    color:#f5f5f5;
}

.a {
  text-decoration: none;
}

.hero-text {
    font-family: 'iciel_crocanteregular'
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0px 0px 20px #000000, 0px 0px 20px #000000, 0px 0px 20px #000000;
}

.icono {
    color: #fff;
}


@media only screen
and (min-width : 600px) {
    .hero-image {
      background-image: url('/static/season_6.jpg');
      background-color: #cccccc;
      height: 800px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    .banner {
      background-image: url('/static/sponsors/thermaltake/1000x100_2.png');
      background-color: #cccccc;
      height: 600px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
}

@media only screen
and (max-width : 600px) {
    .hero-image {
      background-image: url('/static/season_6.jpg');
      background-color: #cccccc;
      height: 600px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    .banner {
      background-image: url('/static/sponsors/thermaltake/1000x100_2.png');
      background-color: #cccccc;
      height: 600px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }


}
