{% extends 'base.html' %}
{% load static from staticfiles %}
<!DOCTYPE html>

{% block content %}
<div class="">
        <article class="tile is-dark is-12 is-child notification">
            <p class="title has-text-centered">Próximamente torneo BLACK PAN! 1 y 2 de Diciembre! Enterate más!</p/>
        <!-- <div class="image">
            <img src="{% static '/images/logo_chico_black.png' %}">
        </div> -->
        <nav class="level">
            <div class="level-item has-text-centered">
                <figure class="image">
                  <img src="{% static '/images/logo_chico_black.png' %}">
            </div>
        </nav>
        <!-- <article class="tile is-danger is-12 is-child notification">
        <p class="title has-text-centered">Los resultados ya estan disponibles!!</p/> -->
</div>

<div class="hero-image">
    <div class="hero-text">
    <img src="{% static 'logo.png' %}">
  </div>
</div>

<section class='section'>
    <div class="container">
            <div class="content">
                    <h1 class="title">
                        Como Funciona la Liga Argentina de Fortnite?
                    </h1>
                    <section>
                        <p class='content is-medium'>
                            <p>
                                La Liga Argentina de Fortnite se juega en <strong>DUOS!</strong>!
                            </p>
                            <p>
                                Cada mes se juegan 2 torneos en los que cada equipo podra sumar puntos para mejorar su posición en la tabla general del mes.
                            </p>
                            <p>
                                Los torneos se juegan <strong>domingo de por medio (dos por mes) de 15hs a 19hs.</strong>
                            </p>
                            <p>
                                <strong>No necesitan instalar nada</strong>, solo juegan durante el tiempo establecido y nuestro sistema contara sus kills/wins.
                            </p>
                            <p>
                                <strong>Se notificara via mail el momento exacto del comienzo del torneo.</strong>, a partir de las 15 hs tienen que estar atentos! (lo mismo aplica para la finalizacion del torneo)
                            </p>
                            <p>
                                Como equipo, sumaran <strong>1 punto por cada kill, 4 por cada top 5, y 15 por cada win!</strong>
                            </p>
                            <p>
                                Se publicaran los resultados del torneo al finalizar el mismo, y la tabla general del mes estara siempre disponible. Al terminar el segundo torneo del mes, se consagraran aquellos que tengan los mejores puntajes en la general!
                            </p>
                            <p>
                                <strong>Cada mes se vuelve a comenzar de cero.</strong>
                            </p>
                        </p>
                    </section>

                </section>
            </div>
        </div>
 </section>
<section class='section'>
    <div class="container">
        <div class="content">
            <h1 class="title">
                Como Participar?
            </h1>
                <section>
                    <p class='content is-medium'>
                        <p class="subtitle">
                            Primero debes inscribir a tu equipo. <a href="{% url 'account_signup' %}">Inscribe a tu equipo aqui!</a>
                        </p>
                        <p class="subtitle">
                            Una vez inscripto debes realizar el <strong>proceso de verificacion</strong> de las cuentas de epic, para esto, ambos integrantes deberan agregar al siguiente usuario de epic como amigo: <strong>LA_Fortnite_Liga</strong>
                        </p>
                        <p class="subtitle">
                            Tardaremos un tiempo en cambiar tu estado de verificacion. Te notificaremos via mail cuando verifiquemos tu cuenta.
                        </p>
                        <p class="subtitle">
                            Una vez verificados, YA ESTARAN PARTICIPANDO!
                        </p>
                    </p>

                </section>
        </div>
    </div>
</section>

<section>
    <section class='section section-padding-large'>
        <div class="container">
        <div class="content">
            <h1 class="title">
              Usuarios de PS4: Como encuentro mi Usuario de epic??
            </h1>
            <section>
                <p class="subtitle">
                  Si solo juegas en Ps4 y nunca vinculaste tu cuenta con un usuario de Epic, o si no te acuerdas cual es, deberas dirigirte a <a href="https://www.epicgames.com/fortnite/es-ES/news">esta pagina</a> y logearte con tu cuenta de Playstation Network!
                </p>
                <nav class="level">
                    <div class="level-item has-text-centered">
                        <figure class="image">
                          <img src="{% static 'images/ps4.png' %}">
                    </div>
                </nav>
                <p class="subtitle">
                  Una vez logeado, podras ver tu usuario de Epic Games en la configuracion de tu cuenta!
                </p>
                <p class="subtitle">
                  Es MUY importante que te registres con tu usuario de EPIC y no el de PSN ya que en ese caso no podras participar!
                </p>
            </section>
        </div>
        </div>
    </section>
</section>

<section class='section section-padding-large'>

</section>






{% endblock %}
