{% extends 'base.html' %}
{% load static from staticfiles %}
<!DOCTYPE html>

{% block content %}
<div class="">
        <article class="tile is-primary is-12 is-child notification">
        <p class="title has-text-centered">Primera prueba 14/10 15hs!</p/>
</div>

<div class="hero-image">
    <div class="hero-text">
    <img src="{% static 'logo.png' %}">
  </div>
</div>

<section class='section'>
    <div class="container">
        <div class="content has-text-centered">
          <h1 class="title">
            Como Funciona la Liga Argentina de Fortnite?
          </h1>
          <p class="subtitle">
            Registrate para inscribirte! <strong>Demuestra tus habilidades y gana</strong>!
          </p>
          <section>
              <p class="subtitle">
                La Liga Argentina de Fortnite se juega en <strong>DUOS!</strong>!
              </p>
              <p class="subtitle">
                Cada mes se jugaran 2 torneos en los que cada equipo podra sumar puntos para mejorar su posiscion en la tabla general del mes.
              </p>
              <p class="subtitle">
                Los torneos se juegan <strong>domingo de por medio (dos por mes) de 15hs a 19hs.</strong>
              </p>
              <p class="subtitle">
                <strong>No necesitan instalar nada</strong>, solo juegan durante el tiempo establecido y nuestro sistema contara sus kills/wins.
              </p>
              <p class="subtitle">
                Como equipo, sumaran <strong>1 punto por cada kill, y 15 puntos por cada win!</strong>
              </p>
              <p class="subtitle">
                Se publicaran los resultados del torneo al finalizar el mismo, y la tabla general del mes estara siempre disponible.
              </p>
              <p class="subtitle">
                Al terminar el segundo torneo del mes, se consagraran aquellos que tengan los mejores puntajes en la general!
              </p>
              <p class="subtitle">
                <strong>Cada mes se vuelve a comenzar de cero.</strong>
              </p>
          </section>
          <section>
              <h1 class="title">
                Como Inscribo a mi Equipo?
              </h1>
          </section>
         </div>
    </div>
  </section>





{% endblock %}
