{% extends 'base.html' %}
{% load static from staticfiles %}
<!DOCTYPE html>

{% block content %}
<section class='section section-padding-large'>

</section>

<section class='section'>
<div class="container">
      <article class="tile is-danger is-12 is-child notification">
        <p class="title has-text-centered">Todavia estamos en fase de prueba! pronto tendremos increibles premios!</p>
        <p class="subtitle has-text-centered"></p>

</div>
</section>



    <div class="container">
        <div class="banner">

        </div>
    </div>


<section class='section section-padding-large'>

</section>


{% endblock %}
