{% load static from staticfiles %}
{% load account %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="manifest" href="{% static 'fortnite/manifest.json' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'fortnite/img/icon180.png' %}">
  <link rel="icon" type="image/png" href="{% static 'fortnite/favicon.ico' %}">
  <title>
    Blk• Design System by Creative Tim
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="{% static 'BLK/assets/css/nucleo-icons.css' %}" rel="stylesheet">
  <!-- CSS Files -->
  <link href="{% static 'BLK/assets/css/blk-design-system.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <!-- <link href="{% static 'BLK/assets/demo/demo.css' %}" rel="stylesheet" /> -->
</head>
<body class="index-page">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="https://demos.creative-tim.com/blk-design-system/index.html" rel="tooltip" title="" data-placement="bottom" target="_blank" data-original-title="Designed and Coded by Creative Tim">
          <span>BLK•</span> Design System
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a>
                BLK•
              </a>
            </div>
            <div class="col-6 collapse-close text-right">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item p-0">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank" data-original-title="Follow us on Twitter">
              <i class="fab fa-twitter"></i>
              <p class="d-lg-none d-xl-none">Twitter</p>
            </a>
          </li>
          <li class="nav-item p-0">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank" data-original-title="Like us on Facebook">
              <i class="fab fa-facebook-square"></i>
              <p class="d-lg-none d-xl-none">Facebook</p>
            </a>
          </li>
          <li class="nav-item p-0">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank" data-original-title="Follow us on Instagram">
              <i class="fab fa-instagram"></i>
              <p class="d-lg-none d-xl-none">Instagram</p>
            </a>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="fa fa-cogs d-lg-none d-xl-none"></i> Getting started
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="https://demos.creative-tim.com/blk-design-system/docs/1.0/getting-started/overview.html" class="dropdown-item">
                <i class="tim-icons icon-paper"></i> Documentation
              </a>
              <a href="examples/register-page.html" class="dropdown-item">
                <i class="tim-icons icon-bullet-list-67"></i>Register Page
              </a>
              <a href="examples/landing-page.html" class="dropdown-item">
                <i class="tim-icons icon-image-02"></i>Landing Page
              </a>
              <a href="examples/profile-page.html" class="dropdown-item">
                <i class="tim-icons icon-single-02"></i>Profile Page
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-default d-none d-lg-block" href="javascript:void(0)" onclick="scrollToDownload()">
              <i class="tim-icons icon-cloud-download-93"></i> Download
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper">
    <div class="page-header header-filter">
      <div class="squares square1"></div>
      <div class="squares square2"></div>
      <div class="squares square3"></div>
      <div class="squares square4"></div>
      <div class="squares square5"></div>
      <div class="squares square6"></div>
      <div class="squares square7"></div>
      <div class="container">
        <div class="content-center brand">
          <!-- <h1 class="h1-seo">INFINITE GAMING</h1> -->
          <img src="{% static 'general/logo_TEXTO.png' %}" class="img-fluid" alt="Responsive image">
        </div>
      </div>
      </div>
  </div>
  <div class="main">
      <!-- quienes somos -->
      <div class="container">
          <div class="row justify-content-md-center">
              <div class="text-center col-md-12 col-lg-8">
                  <h2 class="title">Estamso llevando los E-Sports a otro nivel</h2>
                  <h4 class="description">Nos dedicamos a la organizacion de eventos y torneos tanto presenciales como virtuales a travez de nuestras plataformas dedicadas para cada uno de los juegos del momento</h4>
              </div>
          </div>
      </div>
      <!-- nuestros juegos -->
      <section class='section section-basic'>
          <div class="container">
              <div class="row justify-content-md-center">
                  <div class="text-center col-md-12 col-lg-8">
                      <h1 class="display-1">Nuestras Ligas</h1>
                  </div>
              </div>
          </div>
      </section>
      <div class="section section-basic" id="basic-elements">
        <img src="assets/img/path1.png" class="path">
        <div class="container">
          <h2 class="title">Basic Elements</h2>
          <h3>Buttons</h3>
          <p class="category">Pick your style</p>
          <div class="row">
            <div class="col-md-10">
              <button class="btn btn-primary" type="button">Default</button>
              <button class="btn btn-primary btn-round" type="button">Round</button>
              <button class="btn btn-primary btn-round" type="button">
                <i class="tim-icons icon-heart-2"></i> With Icon
              </button>
              <button class="btn btn-primary btn-icon btn-round" type="button">
                <i class="tim-icons icon-heart-2"></i>
              </button>
              <button class="btn btn-primary btn-simple btn-round" type="button">Simple</button>
            </div>
          </div>
          <p class="category">Pick your size</p>
          <div class="row">
            <div class="col-md-10">
              <button class="btn btn-primary btn-sm">Small</button>
              <button class="btn btn-primary">Regular</button>
              <button class="btn btn-primary btn-lg">Large</button>
            </div>
          </div>
          <p class="category">Pick your color</p>
          <div class="row">
            <div class="col-md-12">
              <button class="btn">Default</button>
              <button class="btn btn-primary">Primary</button>
              <button class="btn btn-info">Info</button>
              <button class="btn btn-success">Success</button>
              <button class="btn btn-warning">Warning</button>
              <button class="btn btn-danger">Danger</button>
              <button class="btn btn-neutral">Neutral</button>
            </div>
          </div>
          <br>
          <h3>Links</h3>
          <div class="row">
            <div class="col-md-8">
              <button class="btn btn-link">Default</button>
              <button class="btn btn-link btn-primary ">Primary</button>
              <button class="btn btn-link btn-info">Info</button>
              <button class="btn btn-link btn-success">Success</button>
              <button class="btn btn-link btn-warning">Warning</button>
              <button class="btn btn-link btn-danger">Danger</button>
            </div>
          </div>
          <div class="space-70"></div>
          <div id="inputs">
            <h3>Inputs</h3>
            <p class="category">Form Controls</p>
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="form-group">
                  <input type="text" value="" placeholder="Regular" class="form-control">
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="form-group has-success">
                  <input type="text" value="Success" class="form-control form-control-success">
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="form-group has-danger">
                  <input type="email" value="Error Input" class="form-control form-control-danger">
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Left Font Awesome Icon">
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Right Nucleo Icon">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="tim-icons icon-lock-circle"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space-70"></div>
          <div class="row" id="checkRadios">
            <div class="col-sm-6 col-lg-3">
              <p class="category">Checkboxes</p>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox">
                  <span class="form-check-sign"></span>
                  Unchecked
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" checked="">
                  <span class="form-check-sign"></span>
                  Checked
                </label>
              </div>
              <div class="form-check disabled">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" disabled="">
                  <span class="form-check-sign"></span>
                  Disabled Unchecked
                </label>
              </div>
              <div class="form-check disabled">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" checked="" disabled="">
                  <span class="form-check-sign"></span>
                  Disabled Checked
                </label>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <p class="category">Radios</p>
              <div class="form-check form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                  <span class="form-check-sign"></span>
                  Radio is off
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option2" checked="">
                  <span class="form-check-sign"></span>
                  Radio is on
                </label>
              </div>
              <div class="form-check form-check-radio disabled">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios2" value="option3" disabled="">
                  <span class="form-check-sign"></span>
                  Disabled radio is off
                </label>
              </div>
              <div class="form-check form-check-radio disabled">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios2" value="option4" disabled="" checked="">
                  <span class="form-check-sign"></span>
                  Disabled radio is on
                </label>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <p class="category">Toggle Buttons</p>
              <div class="bootstrap-switch-on bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate" style="width: 68px;"><div class="bootstrap-switch-container" style="width: 118px; margin-left: 0px;"><span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 50px;"></span><span class="bootstrap-switch-label" style="width: 30px;">&nbsp;</span><span class="bootstrap-switch-handle-off bootstrap-switch-default" style="width: 50px;"></span><input type="checkbox" name="checkbox" class="bootstrap-switch" checked=""></div></div>
              <br>
              <div class="bootstrap-switch-off bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate" style="width: 68px;"><div class="bootstrap-switch-container" style="width: 118px; margin-left: -50px;"><span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 50px;">ON</span><span class="bootstrap-switch-label" style="width: 30px;">&nbsp;</span><span class="bootstrap-switch-handle-off bootstrap-switch-default" style="width: 50px;">OFF</span><input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-label="ON" data-off-label="OFF"></div></div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <p class="category">Sliders</p>
              <div id="sliderRegular" class="slider noUi-target noUi-ltr noUi-horizontal"><div class="noUi-base"><div class="noUi-connects"><div class="noUi-connect" style="transform: translate(0%, 0px) scale(0.4, 1);"></div></div><div class="noUi-origin" style="transform: translate(-60%, 0px); z-index: 4;"><div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="100.0" aria-valuenow="40.0" aria-valuetext="40.00"></div></div></div></div>
              <br>
              <div id="sliderDouble" class="slider slider-primary noUi-target noUi-ltr noUi-horizontal"><div class="noUi-base"><div class="noUi-connects"><div class="noUi-connect" style="transform: translate(20%, 0px) scale(0.4, 1);"></div></div><div class="noUi-origin" style="transform: translate(-80%, 0px); z-index: 5;"><div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="60.0" aria-valuenow="20.0" aria-valuetext="20.00"></div></div><div class="noUi-origin" style="transform: translate(-40%, 0px); z-index: 4;"><div class="noUi-handle noUi-handle-upper" data-handle="1" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="20.0" aria-valuemax="100.0" aria-valuenow="60.0" aria-valuetext="60.00"></div></div></div></div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <h1 class="title">BLK•</h1>
                </div>
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item">
                      <a href="./index.html" class="nav-link">
                        Home
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="./examples/landing-page.html" class="nav-link">
                        Landing
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="./examples/register-page.html" class="nav-link">
                        Register
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="./examples/profile-page.html" class="nav-link">
                        Profile
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item">
                      <a href="https://creative-tim.com/contact-us" class="nav-link">
                        Contact Us
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="https://creative-tim.com/about-us" class="nav-link">
                        About Us
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="https://creative-tim.com/blog" class="nav-link">
                        Blog
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="https://opensource.org/licenses/MIT" class="nav-link">
                        License
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <h3 class="title">Follow us:</h3>
                  <div class="btn-wrapper profile">
                    <a target="_blank" href="https://twitter.com/creativetim" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Like us">
                      <i class="fab fa-facebook-square"></i>
                    </a>
                    <a target="_blank" href="https://dribbble.com/creativetim" class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
                      <i class="fab fa-dribbble"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </footer>
  </div>

  <!--   Core JS Files   -->
  <script src="{% static 'BLK/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="{% static 'BLK/assets/js/core/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'BLK/assets/js/core/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'BLK/assets/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'BLK/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="{% static 'BLK/assets/js/plugins/bootstrap-switch.js' %}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static 'BLK/assets/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
  <!-- Chart JS -->
  <script src="{% static 'BLK/assets/js/plugins/chartjs.min.js' %}"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="{% static 'BLK/assets/js/plugins/moment.min.js' %}"></script>
  <script src="{% static 'BLK/assets/js/plugins/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>
  <!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'BLK/assets/js/blk-design-system.min.js?v=1.0.0' %}" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      blackKit.initDatePicker();
      blackKit.initSliders();
    });

    function scrollToDownload() {

      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>
</body>

</html>
